@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(27, 109, 196, 0.171);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

h2 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.container {
  width: 30rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.input-number {
  width: 100%;
}

.input-number input {
  border: none;
  outline: none;
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  height: 7rem;
  text-align: right;
  font-size: 1.5em;
}

.container .container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  margin-top: 2rem;
  margin: 0.8rem;
}

.container-card button {
  border: none;
  outline: none;
  padding: 0.7rem 0;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1em;
}

.container-card button.operator {
  background-color: dodgerblue;
  color: white;
}

.container-card button.operator-equal {
  background-color: cornflowerblue;
  grid-column: span 2;
  color: white;
}

@media (max-width:428px){
  .container {
    width: 90%;
  }
}